import packages

In [127]:
import numpy as np
import pandas as pd

load the first dataset

In [128]:
ds_1=pd.read_csv('d:\qtree projeccts\csv and excel files/rental_bike_descr.csv')

<>:1: SyntaxWarning: invalid escape sequence '\q'
<>:1: SyntaxWarning: invalid escape sequence '\q'
C:\Users\ANAND\AppData\Local\Temp\ipykernel_12436\3192544778.py:1: SyntaxWarning: invalid escape sequence '\q'
  ds_1=pd.read_csv('d:\qtree projeccts\csv and excel files/rental_bike_descr.csv')

Observations:

* We have to upload the dataset

* We are reading the file through the dataset_1 variable

* The file is in CSV format

* We use the pd.read_csv() function to read a CSV file

* We provide the exact path of the file within the round bracket ()

check the type of dataset

In [129]:
type(ds_1)

pandas.core.frame.DataFrame

shape of the dataset

In [130]:
ds_1.shape

(610, 10)

print first 5 row of the dataset

In [131]:
ds_1.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp
0,1,01-01-2011,1,0,1,0,False,6,1,0.24
1,2,01-01-2011,1,0,1,1,False,6,1,0.22
2,3,01-01-2011,1,0,1,2,False,6,1,0.22
3,4,01-01-2011,1,0,1,3,False,6,1,0.24
4,5,01-01-2011,1,0,1,4,False,6,1,0.24

load the seccond dataset

In [132]:
ds_2=pd.read_csv('d:\qtree projeccts\csv and excel files/rental_bike_season.csv')

<>:1: SyntaxWarning: invalid escape sequence '\q'
<>:1: SyntaxWarning: invalid escape sequence '\q'
C:\Users\ANAND\AppData\Local\Temp\ipykernel_12436\1776084253.py:1: SyntaxWarning: invalid escape sequence '\q'
  ds_2=pd.read_csv('d:\qtree projeccts\csv and excel files/rental_bike_season.csv')

shape of the dataset

In [133]:
ds_2.shape

(610, 8)

print first 5 row of the second dataset

In [134]:
ds_2.head()

   Unnamed: 0  instant   atemp   hum  windspeed  casual  registered  cnt
0           0        1  0.2879  0.81        0.0       3          13   16
1           1        2  0.2727  0.80        0.0       8          32   40
2           2        3  0.2727  0.80        0.0       5          27   32
3           3        4  0.2879  0.75        0.0       3          10   13
4           4        5  0.2879  0.75        0.0       0           1    1

drop the column unnamed

In [135]:
ds_2=ds_2.drop(['Unnamed: 0'], axis=1)

lets check again the shape of the data after drop the column

In [136]:
ds_2.shape

(610, 7)

In [137]:
ds_2.columns

Index(['instant', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt'], dtype='object')

top 5 row of the dataset

In [138]:
ds_2.head()

   instant   atemp   hum  windspeed  casual  registered  cnt
0        1  0.2879  0.81        0.0       3          13   16
1        2  0.2727  0.80        0.0       8          32   40
2        3  0.2727  0.80        0.0       5          27   32
3        4  0.2879  0.75        0.0       3          10   13
4        5  0.2879  0.75        0.0       0           1    1

merge the datasets

In [139]:
merged_ds=pd.merge(ds_1, ds_2, on='instant')

check the type of combined dataset

In [140]:
type(merged_ds)

pandas.core.frame.DataFrame

top 5 row of the combined dataset

In [141]:
merged_ds.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2011,1,0,1,0,False,6,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,01-01-2011,1,0,1,1,False,6,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,01-01-2011,1,0,1,2,False,6,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,01-01-2011,1,0,1,3,False,6,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,01-01-2011,1,0,1,4,False,6,1,0.24,0.2879,0.75,0.0,0,1,1

load the third dataset

In [142]:
ds_3=pd.read_csv('d:\qtree projeccts\csv and excel files/final_rental_bike_dataset.csv')

<>:1: SyntaxWarning: invalid escape sequence '\q'
<>:1: SyntaxWarning: invalid escape sequence '\q'
C:\Users\ANAND\AppData\Local\Temp\ipykernel_12436\4205497428.py:1: SyntaxWarning: invalid escape sequence '\q'
  ds_3=pd.read_csv('d:\qtree projeccts\csv and excel files/final_rental_bike_dataset.csv')

check the shape of the third dataset

In [143]:
ds_3.shape

(390, 16)

top 5 row of the third dataset

In [144]:
ds_3.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,620,29-01-2011,1,0,1,1,False,6,1,0.22,0.2273,0.64,0.1940,0,20,20
1,621,29-01-2011,1,0,1,2,False,6,1,0.22,0.2273,0.64,0.1642,0,15,15
2,622,29-01-2011,1,0,1,3,False,6,1,0.20,0.2121,0.64,0.1343,3,5,8
3,623,29-01-2011,1,0,1,4,False,6,1,0.16,0.1818,0.69,0.1045,1,2,3
4,624,29-01-2011,1,0,1,6,False,6,1,0.16,0.1818,0.64,0.1343,0,2,2

bottom 15 rows of the third dataset

In [145]:
ds_3.tail(15)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
375,995,14-02-2011,1,0,2,2,False,1,1,0.36,0.3333,0.40,0.2985,0,2,2
376,996,14-02-2011,1,0,2,3,False,1,1,0.34,0.3182,0.46,0.2239,1,1,2
377,997,14-02-2011,1,0,2,4,False,1,1,0.32,0.3030,0.53,0.2836,0,2,2
378,998,14-02-2011,1,0,2,5,False,1,1,0.32,0.3030,0.53,0.2836,0,3,3
379,999,14-02-2011,1,0,2,6,False,1,1,0.34,0.3030,0.46,0.2985,1,25,26
380,1000,14-02-2011,1,0,2,7,False,1,1,0.34,0.3030,0.46,0.2985,2,96,98
381,611,28-01-2011,1,0,1,16,False,5,1,0.22,0.2727,0.80,0.0000,10,70,80
382,612,28-01-2011,1,0,1,17,False,5,1,0.24,0.2424,0.75,0.1343,2,147,149
383,613,28-01-2011,1,0,1,18,False,5,1,0.24,0.2273,0.75,0.1940,2,107,109
384,614,28-01-2011,1,0,1,19,False,5,2,0.24,0.2424,0.75,0.1343,5,84,89
385,615,28-01-2011,1,0,1,20,False,5,2,0.24,0.2273,0.70,0.1940,1,61,62
386,616,28-01-2011,1,0,1,21,False,5,2,0.22,0.2273,0.75,0.1343,1,57,58
387,617,28-01-2011,1,0,1,22,False,5,1,0.24,0.2121,0.65,0.3582,0,26,26
388,618,28-01-2011,1,0,1,23,False,5,1,0.24,0.2273,0.60,0.2239,1,22,23
389,619,29-01-2011,1,0,1,0,False,6,1,0.22,0.1970,0.64,0.3582,2,26,28

sort values of a columns

In [146]:
ds_3=ds_3.sort_values(by=['instant'])

In [147]:
ds_3.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
381,611,28-01-2011,1,0,1,16,False,5,1,0.22,0.2727,0.80,0.0000,10,70,80
382,612,28-01-2011,1,0,1,17,False,5,1,0.24,0.2424,0.75,0.1343,2,147,149
383,613,28-01-2011,1,0,1,18,False,5,1,0.24,0.2273,0.75,0.1940,2,107,109
384,614,28-01-2011,1,0,1,19,False,5,2,0.24,0.2424,0.75,0.1343,5,84,89
385,615,28-01-2011,1,0,1,20,False,5,2,0.24,0.2273,0.70,0.1940,1,61,62

In [148]:
ds_3.tail()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
376,996,14-02-2011,1,0,2,3,False,1,1,0.34,0.3182,0.46,0.2239,1,1,2
377,997,14-02-2011,1,0,2,4,False,1,1,0.32,0.3030,0.53,0.2836,0,2,2
378,998,14-02-2011,1,0,2,5,False,1,1,0.32,0.3030,0.53,0.2836,0,3,3
379,999,14-02-2011,1,0,2,6,False,1,1,0.34,0.3030,0.46,0.2985,1,25,26
380,1000,14-02-2011,1,0,2,7,False,1,1,0.34,0.3030,0.46,0.2985,2,96,98

concatenat the combined dataset and the third dataset

In [149]:
combined_ds=pd.concat([merged_ds, ds_3])

check the shape of new dataset

In [150]:
combined_ds.shape

(1000, 16)

display the columns of the final dataset

In [151]:
combined_ds.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt'],
      dtype='object')

rename the columns

In [152]:
final_data=combined_ds.rename(columns={'dteday': 'date', 'yr': 'year', 'mnth':'month','hr':'hour',
                                        'weathersit':'weather', 'hum':'humidity', 'cnt':'count'})

datatypes of the diiferent column values

In [153]:
final_data.dtypes

instant         int64
date           object
season          int64
year            int64
month           int64
hour            int64
holiday          bool
weekday         int64
weather         int64
temp          float64
atemp         float64
humidity      float64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

check for null values

In [154]:
final_data.isna().sum(axis=0)

instant        0
date           0
season         0
year           0
month          0
hour           0
holiday        0
weekday        0
weather        0
temp           0
atemp         11
humidity       0
windspeed      0
casual         0
registered     0
count          0
dtype: int64

lets check percentage of the rows with missing values

In [155]:
per_of_missinng_values=(final_data['atemp'].isna().sum(axis=0)/final_data.shape[0])*100
per_of_missinng_values

np.float64(1.0999999999999999)

drop the rows with missing values

In [156]:
final_data=final_data.dropna(axis=0)
final_data.shape

(989, 16)

now, lets again check the missing value count after drop

In [157]:
final_data.isna().sum()

instant       0
date          0
season        0
year          0
month         0
hour          0
holiday       0
weekday       0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

perform sanity check in the dataset

check if casual + registered is always equal to count

In [158]:
np.sum(final_data['casual']+final_data['registered']-final_data['count'])

np.int64(0)

month value should be in the range of 1-12

In [159]:
np.unique(final_data.month)

array([1, 2])

hours value should be in the range of 1-24

In [160]:
np.unique(final_data.hour)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

print the statistical summary of the dataset

In [161]:
final_data.describe()

,instant,season,year,month,hour,weekday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,989.000000,989.0,989.0,989.000000,989.000000,989.000000,989.000000,989.000000,989.000000,989.000000,989.000000,989.000000,989.000000,989.000000
mean,505.622851,1.0,0.0,1.315470,11.753286,2.991911,1.479272,0.204712,0.211958,0.581769,0.194609,4.921132,53.689585,58.610718
std,286.274765,0.0,0.0,0.464938,6.891129,2.084727,0.651085,0.077789,0.076703,0.187706,0.129225,7.666231,48.019224,51.120572
min,1.000000,1.0,0.0,1.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.210000,0.000000,0.000000,0.000000,1.000000
25%,259.000000,1.0,0.0,1.000000,6.000000,1.000000,1.000000,0.160000,0.166700,0.440000,0.104500,0.000000,15.000000,16.000000
50%,506.000000,1.0,0.0,1.000000,12.000000,3.000000,1.000000,0.200000,0.212100,0.550000,0.164200,3.000000,46.000000,50.000000
75%,753.000000,1.0,0.0,2.000000,18.000000,5.000000,2.000000,0.240000,0.257600,0.700000,0.283600,6.000000,75.000000,84.000000
max,1000.000000,1.0,0.0,2.000000,23.000000,6.000000,4.000000,0.460000,0.454500,1.000000,0.582100,62.000000,247.000000,249.000000